body {
    background: url("background.jpg")no-repeat ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fff;
    margin-top: 300px;
}
button{
    font-family: 'Orbitron', sans-serif;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }